[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/placeholder_BE
EnvironmentFile=/home/ubuntu/placeholder_BE/.env
Environment="PATH=/home/ubuntu/placeholder_BE/venv/bin"
ExecStart=/home/ubuntu/placeholder_BE/venv/bin/gunicorn placeholder.asgi:application \
    --workers 4 \
    --worker-class uvicorn.workers.UvicornWorker \
    --bind unix:/home/ubuntu/placeholder_BE/gunicorn.sock

[Install]
WantedBy=multi-user.target
